.content {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: -2;
  text-align: center;
  overflow: hidden;
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10000;
}


@media only screen and (min-width: 900px) {
  .mentor {
    width: 25vw;
    float: left;
    margin: 2vh 0;
  }
  .mentor img {
    width: 21vw;
    padding: 0 2rem;
  }
  .mentor a{
    text-decoration: none;
    line-height: 0.5rem;
  }
  .mamemaki {
    width: 40vw;
    margin: 0 auto;
  }
  .mamemaki img{
    width: 40vw;
  }

}

@media only screen and (max-width: 900px) {
  h1 {
    display: block;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
  }
  .mentor {
    width: 50vw;
    float: left;
    margin: 1vh 0;
  }
  .mentor img {
    width: 40vw;
    padding: 0 1rem;
  }
  .mentor a{
    text-decoration: none;
    line-height: 0.5rem;
  }
  .mamemaki {
    width: 80vw;
    margin: 0 auto;
  }
  .mamemaki img{
    width: 80vw;
    margin: 10 5vw;
  }

}